a.ArtistListItem {
  display: block;
  max-width: 800px;
  margin: 1em auto;
  padding-left: 1em;
  padding-bottom: 1em;
  border: 1px solid lightgrey;
  text-decoration: none;
}

a.ArtistListItem:hover {
  outline: 1px solid darkslategrey;
}
