/* @import url('https://pagecdn.io/lib/normalize/8.0.1/normalize.min.css'); */

.App {
  /* height: 100vh; */
  min-height: 200vh;
}

.App__header {
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--top-spacing);
  /* background-color: lightgrey; */
}

.App__main {
  height: calc(100vh - var(--top-spacing));
  /* overflow: auto; */
  padding: 0 1em 2em;
}

.page-width-container, .App__header > nav, .App__main > * {
  max-width: 1200px;
  margin: 0 auto;
}