/* MOBILE STYLES */
/* to do: convert floats to grid or flexbox */

/* Apply the "top-spacing" to anything that should show under the fixed element with the same height. */
/* html {
  --top-spacing: 100px;
  scroll-padding-top: var(--top-spacing);
} */

body {
  font-family: Helvetica, sans-serif;
  background-color: #f4f4f4;
}

a {
  color: #000;
}

nav {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  /* position: fixed; */
  width: 100%;
  height: var(--top-spacing);
  scroll-padding-top: var(--top-spacing);
  padding: 20px 0;
  z-index: 3;
}

nav .logo {
  display: block;
  float: left;
  font-size: 2rem;
  padding: 0 1rem;
  text-decoration: none;
}

/* menu */

nav .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.4s linear;
}

nav ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-left: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

nav li {
  padding: 2em 2em;
  text-align: right;
}

nav li:first-of-type {
  padding-top: 4rem;
}

nav li:last-of-type {
  padding-bottom: 4rem;
}

nav li a {
  text-decoration: none;
}

nav li .view-all-artists-link {
  border: 1px solid #999;
  padding: 0.5rem;
  border-radius: 4px;
  background-color: var(--orange);
  color: #fff;
}
/* maybe combine these two into one, if they're actually going to be the same. */
nav .login-logout-link {
  border: 1px solid #999;
  padding: 0.5rem;
  border-radius: 4px;
}

nav .create-profile-btn,
form#navbar-search-form #artist_search {
  height: 2.5em;
  padding: 0.5em;
}

nav .create-profile-btn {
  display: inline-block;
  position: relative;
  border: 1px solid black;
  background-color: darksalmon;
  /* color: white; */
}

nav .create-profile-btn:hover {
  background-color: indianred;
}

/* nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

nav > * {
  display: inline-block;
} */

/* .navbar-search-label {
  position: relative;
  display: block;
}
.navbar-search-label:before {
  position: absolute;
  top: 15px;
  bottom: 0;
  right: 15px;
  width: 20px;
  content: '';
  background-image: url(../public/images/search-icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
} */

form#navbar-search-form button[type='submit'] {
  /* display: none; */
}
form#navbar-search-form #artist_search {
  position: relative;
  width: 80%;
  margin-right: 0.5rem;
  
  /* space for spyglass icon: */
  /* padding-right: 2em; */
}

/* menu icon */

nav .menu-icon .menu-label-content,
.search-label-content {
  display: none;
}

nav .menu-icon {
  cursor: pointer;
  float: right;
  position: relative;
  top: 19px;
  right: 30px;
  user-select: none;
}

nav .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s linear;
  width: 40px;
}

nav .menu-icon .navicon:before,
nav .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s linear;
  width: 100%;
}

nav .menu-icon .navicon:before {
  top: -10px;
}

nav .menu-icon .navicon:after {
  top: 10px;
}

/* menu btn */

nav .menu-btn {
  display: none;
}

nav .menu-btn:checked ~ .menu {
  max-height: 400px;
}

nav .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

nav .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

nav .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* DESKTOP STYLES */
/* 48em (@16px) = 768px   */
@media (min-width: 48em) {
  nav {
    padding-bottom: 20px;
  }
  nav ul {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
  }
  nav .menu {
    clear: none;
    float: right;
    height: 100%;
    max-height: none;
  }
  nav li {
    /* float: left; */
    /* padding: 0 20px; */
    padding: 0;
    /* outline: 1px solid mediumslateblue; */
  }
  /* search form */
  /* nav li:nth-child(1) { */
  nav li.listItem-search {
    /* flex: 1; */
    /* flex-grow: 3;
    flex-shrink: 1;
    flex-basis: 0%; */
    order: 2;
    margin: 0 1rem;
  }
  /* view all artists */
  /* nav li:nth-child(2) { */
  nav li.listItem-viewAllArtists {
    /* flex: 0.7; */
    /* flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%; */
    order: 1;
    margin: 0 1rem;
  }
  /* login */
  /* nav li:nth-child(3) { */
  nav li.listItem-logIn-logOut {
    /* flex: 0.7; */
    /* flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%; */
    order: 3;
    margin: 0 1rem;
  }
  nav li:first-of-type {
    padding-top: 0;
  }
  nav li:last-of-type {
    padding-bottom: 0;
  }
  nav .menu-icon {
    display: none;
  }

  /* this isn't right, just a temp hack: */
  /* form#navbar-search-form #artist_search {
    width: 60%;
  } */
}
